/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */

& when (@media-common = true) {
    [data-content-type="codmag_push"] {
        &[data-appearance="default"] {
            position: relative;
            z-index: 1;
            border-radius: 0.4rem;
            font-size: 0;

            .item-title {
                background: rgba(255, 255, 255, 0.75);
                padding: 1.5rem 0;
                font-size: 2rem;
                font-weight: @font-weight__semibold;
                color: @codmag_color-black;
                line-height: 1.43;
                text-align: center;
                position: absolute;
                right: 0;
                bottom: 1rem;
                left: 0;
            }

            .item-title-link {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 3;
                opacity: 0;
            }
        }
    }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    [data-content-type="codmag_push"] {
        &[data-appearance="default"] {
            height: 100%;

            .item-title {
                font-size: 2.4rem;
            }

            img {
                min-height: 100%;
            }
        }

        &:last-of-type {
            margin-bottom: 0 !important;
        }
    }
}
