<!--
/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
-->

<div attr="data.main.attributes" ko-style="data.main.style" css="data.main.css">
    <a if="data.link.attributes().href" attr="data.link.attributes"
       class="item-title-link">
    </a>
    <span class="item-title"
      attr="data.item_title.attributes"
      ko-style="data.item_title.style"
      css="data.item_title.css"
      html="data.item_title.html">
    </span>
    <img if="data.desktop_image.attributes().src"
         attr="data.desktop_image.attributes"
         class="pagebuilder-mobile-hidden"
         css="data.desktop_image.css"
         ko-style="data.desktop_image.style"/>
    <img if="data.mobile_image.attributes().src"
         attr="data.mobile_image.attributes"
         class="pagebuilder-mobile-only"
         css="data.mobile_image.css"
         ko-style="data.mobile_image.style" />

</div>
