<!--
/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
-->

<div attr="data.main.attributes"
     ko-style="data.main.style"
     class="pagebuilder-content-type codmag-push"
     event="{ mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false"
     data-bind="css: { has_image: data.desktop_image.attributes().src }, data.main.css"
>
    <render args="getOptions().template" />
    <p class="item-title-content"
       attr="data.item_title.attributes"
       ko-style="data.item_title.style"
       css="data.item_title.css"
       data-bind="liveEdit: { field: 'item_title_content', placeholder: $t('Enter item title') }">
    </p>
    <div class="pagebuilder-content-type pagebuilder-image type-nested" data-content-type="image">
        <scope args="getUploader().getUiComponent()">
            <render />
        </scope>
        <img if="data.desktop_image.attributes().src"
             attr="data.desktop_image.attributes"
             class="preview-image"
             css="data.desktop_image.css"
             ko-style="data.desktop_image.style" />
    </div>
</div>
