/**
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2004-present Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */

.codmag-push {
    position: relative;
    z-index: 1;
    border-radius: 4px;

    .item-title-content {
        background: rgba(255, 255, 255, 0.75);
        padding: 15px;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.43;
        text-align: center;
    }

    [data-content-type="image"] {
        font-size: 0;
    }

    .preview-image {
        width: 100%;
    }

    &.has_image {
        .item-title-content {
            position: absolute;
            right: 0;
            bottom: 15px;
            left: 0;
            z-index: 2;
        }
    }
}
